/*div {*/
/*    text-align: center;*/
/*}*/
/*.minus:hover{*/
/*    background-color: #717fe0 ;*/
/*}*/
/*.plus:hover{*/
/*    background-color: #717fe0 ;*/
/*}*/
/*Prevent text selection*/
span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    width: 2%;
}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
}

.dish-parent {
    /*display: table;*/
    padding-top: 25px;
}

.dish-child {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}


.btn {
    white-space: normal;
}

body {
    background-color: #F7F7F7;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}



.fs-18 {
    font-size: 18px;
}

.fw-bold {
    font-weight: bold;
}

.font-logo {
    font-weight: bold;
    font-size: 30px;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}

/*Margin and Padding helpers*/
/*xs*/
.ubuntu-ft {
    font-family: ubuntu;
}

.pl-0 {
    padding-left: 0rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 1rem;
}

.pl-4 {
    padding-left: 1.5rem;
}

.pl-5 {
    padding-left: 3.0rem;
}

.pt-0 {
    padding-top: 0rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 1rem;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-5 {
    padding-top: 3.0rem;
}

.mt-0 {
    margin-top: 0rem;
}

.mt-025 {
    margin-top: 0.25rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-12 {
    margin-top: 1.2rem;
}

.mt-15 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-25 {
    margin-top: 2.5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-35 {
    margin-top: 3.5rem;
}

.ml-0 {
    margin-left: 0rem;
}

.ml-025 {
    margin-left: 0.25rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-12 {
    margin-left: 1.2rem;
}

.ml-15 {
    margin-left: 1.5rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-25 {
    margin-left: 2.5rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-35 {
    margin-left: 3.5rem;
}

.mr-0 {
    margin-right: 0rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 1.5rem;
}

.mr-5 {
    margin-right: 3.0rem;
}

.p-xs {
    padding: .25em;
}

.p-x-xs {
    padding: 0 .25em;
}

.p-y-xs {
    padding: .25em 0;
}

.p-t-xs {
    padding-top: .25em;
}

.p-r-xs {
    padding-right: .25em;
}

.p-b-xs {
    padding-bottom: .25em;
}

.p-l-xs {
    padding-left: .25em;
}

.m-xs {
    margin: .25em;
}

.m-x-xs {
    margin: 0 .25em;
}

.m-y-xs {
    margin: .25em 0;
}

.m-r-xs {
    margin-right: .25em;
}

.m-l-xs {
    margin-left: .25em;
}

.m-t-xs {
    margin-top: .25em;
}

.m-b-xs {
    margin-bottom: .25em;
}

/*sm*/
@media (min-width: 768px) {
    /*sm*/
    .p-sm {
        padding: .5em;
    }

    .p-x-sm {
        padding: 0 .5em;
    }

    .p-y-sm {
        padding: .5em 0;
    }

    .p-t-sm {
        padding-top: .5em;
    }

    .p-r-sm {
        padding-right: .5em;
    }

    .p-b-sm {
        padding-bottom: .5em;
    }

    .p-l-sm {
        padding-left: .5em;
    }

    .m-sm {
        margin: .5em;
    }

    .m-x-sm {
        margin: 0 .5em;
    }

    .m-y-sm {
        margin: .5em 0;
    }

    .m-t-sm {
        margin-top: .5em;
    }

    .m-r-sm {
        margin-right: .5em;
    }

    .m-b-sm {
        margin-bottom: .5em;
    }

    .m-l-sm {
        margin-left: .5em;
    }
}

/*md*/
@media (min-width: 992px) {
    .p-md {
        padding: 1em;
    }

    .p-x-md {
        padding: 0 1em;
    }

    .p-y-md {
        padding: 1em 0;
    }

    .p-t-md {
        padding-top: 1em;
    }

    .p-r-md {
        padding-right: 1em;
    }

    .p-b-md {
        padding-bottom: 1em;
    }

    .p-l-md {
        padding-left: 1em;
    }

    .m-md {
        margin: 1em;
    }

    .m-x-md {
        margin: 0 1em;
    }

    .m-y-md {
        margin: 1em 0;
    }

    .m-t-md {
        margin-top: 1em;
    }

    .m-r-md {
        margin-right: 1em;
    }

    .m-b-md {
        margin-bottom: 1em;
    }

    .m-l-md {
        margin-left: 1em;
    }
}

/*lg*/
@media (min-width: 1200px) {
    .p-lg {
        padding: 1.5em;
    }

    .p-x-lg {
        padding: 0 1.5em;
    }

    .p-y-lg {
        padding: 1.5em 0;
    }

    .p-t-lg {
        padding-top: 1.5em;
    }

    .p-r-lg {
        padding-right: 1.5em;
    }

    .p-b-lg {
        padding-bottom: 1.5em;
    }

    .p-l-lg {
        padding-left: 1.5em;
    }

    .m-lg {
        margin: 1.5em;
    }

    .m-x-lg {
        margin: 0 1.5em;
    }

    .m-y-lg {
        margin: 1.5em 0;
    }

    .m-t-lg {
        margin-top: 1.5em;
    }

    .m-r-lg {
        margin-right: 1.5em;
    }

    .m-b-lg {
        margin-bottom: 1.5em;
    }

    .m-l-lg {
        margin-left: 1.5em;
    }
}

/*xl*/
.p-xl {
    padding: 3em;
}

.p-x-xl {
    padding: 0 3em;
}

.p-y-xl {
    padding: 3em 0;
}

.p-t-xl {
    padding-top: 3em;
}

.p-r-xl {
    padding-right: 3em;
}

.p-b-xl {
    padding-bottom: 3em;
}

.p-l-xl {
    padding-left: 3em;
}

.m-xl {
    margin: 3em;
}

.m-x-xl {
    margin: 0 3em;
}

.m-y-xl {
    margin: 3em 0;
}

.m-t-xl {
    margin-top: 3em;
}

.m-r-xl {
    margin-right: 3em;
}

.m-b-xl {
    margin-bottom: 3em;
}

.m-l-xl {
    margin-left: 3em;
}

.border-bottom {
    border-bottom: 1px solid #DADDE1
}

input[type=number] {
    width: 10em;
    /*font-size:12px;*/
}

.prod-dish {
    height: 90px;
}

.prod-desc {
    height: auto;
}

.prod-count {
    /*height: 50px;*/

}

.prod-header {
    height: auto;
    padding-top: 20px;
}

.btn {
    text-decoration: none
}

.btn-link {
    color: #5ca5ff;
    font-weight: bold;
    border-radius: 0;
    text-decoration: underline;
}

.btn-link:hover, .btn-link:focus {
    color: #5e5d5d;
    text-decoration: none;
}

.equal .p-l-r-0 {
    padding-left: 0;
    padding-right: 0;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.flex-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

@media (max-width: 768px) {
    .panel-default {
        font-size: 14px;
    }
}

.col-xs-12{
    padding-left: 0;
    padding-right: 0;
}

input #dish_servings .count{
    width: 100px;
}

/*html { overflow-x: hidden; }*/

#dinner_time {
    width: 300px;
}